{% extends "LaLearnodexBundle::Admin/Admin.html.twig" %}

{% block card_content %}
    {% if cardOutcomes is empty %}
        <p class="lead">No outcomes possible for this card type</p>
    {% else %}
        <p class="lead">Define the outcomes of this card</p>

        {% for cardOutcome in cardOutcomes %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ include(cardOutcome.getIncludeTwig(), { 'cardOutcome': cardOutcome }) }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
