{% extends "LaLearnodexBundle::Admin/Admin.html.twig" %}

{% block card_content %}
    {% if cardOutcomes is empty %}
        No outcomes possible
    {% else %}
        <h3>Define the outcomes of this card</h3>
    {% endif %}
    {% for cardOutcome in cardOutcomes %}
        <div class="row">
            {{ include(cardOutcome.getIncludeTwig(),{ 'cardOutcome': cardOutcome, } ) }}
        </div>
    {% endfor %}
{% endblock %}
