{% extends "LaLearnodexBundle::Admin/Admin.html.twig" %}

{% block card_content %}
    <h3>Current outcomes:</h3>
    {% if outcomes is empty %}
        No outcomes yet
    {% endif %}
    {% for outcome in outcomes %}
        <div class="row">
            <div class="col-xs-10">
            {{ include(outcome.accept(twigVisitor),{ 'outcome': outcome, } ) }}
            </div>
            <div class="col-xs-2">
                <a href="{{ path('remove_outcome',{'outcomeId':outcome.id}) }}">
                    Delete
                </a>
            </div>
        </div>
    {% endfor %}

    <h3>Add another outcome:</h3>
    {% if possibleOutcomes is empty %}
        No new outcomes possible
    {% endif %}
    {% for outcome in possibleOutcomes %}
        {{ include(outcome.accept(twigVisitor),{ 'outcome': outcome, } ) }}
    {% endfor %}
{% endblock %}
