{% set referenceOutcome = cardOutcome.getReferenceOutcome() %}
<div class="col-xs-4 text-right">
    answer "<b>{{ referenceOutcome.answer.answer }}</b>" is <b>{{ referenceOutcome.selected == 0 ? 'Not' }} selected</b>
</div>
{% set numberOfStars = cardOutcome.getNumberOfStars() %}
<div class="col-xs-4 rating">
    {% for starNumber, affinity in cardOutcome.affinityForStars %}
        {% set imgName = numberOfStars>=starNumber ? 'star_full.png' : 'star_empty.png' %}
        {% if starNumber == 0 %}
            {% set imgName = 'star_clear.png' %}
        {% endif %}
        <span>
            <a href="{{ path('set_outcome', {'id':card.getId(),'answer':referenceOutcome.getAnswer().getId(), 'selected':referenceOutcome.getSelected(), 'affinity':cardOutcome.getValueForStars(starNumber)}) }}">
                <img src="{{ asset('bundles/lalearnodex/images/'~imgName, absolute=true) }}">
            </a>
        </span>
    {% endfor %}
</div>
