{% set referenceOutcome = cardOutcome.getReferenceOutcome() %}
<div class="col-xs-4 text-right">
    {{ referenceOutcome.caption }}
</div>
{% set numberOfStars = cardOutcome.getNumberOfStars() %}
<div class="col-xs-4 rating">
    {% for starNumber, affinity in cardOutcome.affinityForStars %}
        {% set imgName = numberOfStars>=starNumber ? 'star_full.png' : 'star_empty.png' %}
        {% if starNumber == 0 %}
            {% set imgName = 'star_clear.png' %}
        {% endif %}
        <span>
            <img src="{{ asset('bundles/lalearnodex/images/'~imgName, absolute=true) }}">
        </span>
    {% endfor %}
    <span>(fixed)</span>
</div>
