<div class="row">
    {% set referenceOutcome = cardOutcome.getReferenceOutcome() %}
    <div class="col-xs-12 col-sm-4 text-right">
        <p>{{ referenceOutcome.caption }}</p>
    </div>

    {% for result in cardOutcome.getOutcome().getResults() %}
        {{ include(result.accept(getIncludeTwigVisitor), { 'result': result, 'cardOutcome': cardOutcome }) }}
    {% endfor %}

</div>
