<div class="row">
    <div class="col-xs-12 col-sm-4 text-right">
        <p>On URL click</p>
    </div>

    {% for result in cardOutcome.getOutcome().getResults() %}
        {{ include(result.accept(getIncludeTwigVisitor), { 'result': result, 'cardOutcome': cardOutcome }) }}
    {% endfor %}

</div>
