{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="alert alert-success" role="alert">{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</div>
    <div class="alert alert-success" role="alert"><a href="{{ path('homepage') }}">Click here to continue.</a></div>
{% endblock fos_user_content %}
