{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="row">
    <div class="ln-register center-block">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center">
                    <img src="http://sharpskill.io/images/logo.9691e1f9.png" alt="SharpSkill">
                    <h3>Register with SharpSkill</h3>
                </div>
                <hr/>
                <div><center>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</center></div>
                <a class="btn btn-primary btn-block" href="{{ path('homepage') }}">Continue</a>
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
