{% extends "LaLearnodexBundle::layout.html.twig" %}

{% block head %}
    {{ parent() }}
    <link href="{{ asset('bundles/lalearnodex/css/card.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block Main %}
    <div class="panel ln-card">
        <div class="panel-heading">
            {% block card_header %}
                <h1>
                    Testing
                    {% block card_header_edit %}{% endblock %}
                </h1>
            {% endblock %}
        </div>

        <div class="panel-body ln-card-body">
            <div class="row">
                <div class="{% block card_body_placeholder_class 'col-xs-12' %} scroll-y">
                    <div class="row">
                        <div class="col-xs-12 well">
                            CARD
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 text-right">
                            <a class="btn btn-default btn-block" href="">Ask me later</a>
                        </div>
                        <div class="col-xs-5 col-sm-4 col-md-3 text-left">
                            <a class="btn btn-warning btn-block" href="">Discard</a>
                        </div>
                    </div>
                </div>
                <div class="{% block card_toolbar_placeholder_class 'hidden' %}">
                    {% block card_toolbar %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
