{% extends "LaLearnodexBundle::layout.html.twig" %}

{% block Main %}
        <div class="col-xs-12">
            <h1>Your DNA</h1>
            <p class="lead">click on the bars to learn more about your dna!</p>
            <p>(until we have the dna-widget extended i ust use a simple table)</p>
            <table border="1">
            </table>
        </div>

{% endblock %}
