{% extends "LaLearnodexBundle::layout.html.twig" %}

{% block main %}
    <div class="">
        Welcome!
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-5"></div>
        <div class="col-xs-2 text-center">
            <a href="{{ path('card_auto') }}">START</a>
            <br/><br/>
            <a href="{{ path('admin_homepage') }}">or create cards</a>
        </div>
        <div class="col-xs-5"></div>
    </div>
{% endblock %}
