{% extends "LaLearnodexBundle::layout.html.twig" %}

{% block html_tag 'ng-app="card"' %}
{% block body_tags 'role="document"  ng-controller="CardController as card"' %}
{% block main %}
    <div class="col-xs-10">
        <h1 class="title">{{ learningEntity.name }}</h1>
        <p>{{ learningEntity.description }}</p>
        <div>
            {{ form(form) }}
        </div>
    </div>
    <div class="col-xs-2">
        {{ include(
            'LaLearnodexBundle:Card:menu.html.twig',
            {'id': learningEntity.id, 'action':'card'}
        ) }}
    </div>
{% endblock %}
