{% extends "LaLearnodexBundle::card.html.twig" %}

{% block card_body_placeholder_class 'col-xs-12' %}
{% block card_toolbar_placeholder_class 'hidden' %}

{% block card_body %}
    <div class="row">
        <div class="col-xs-12 well">
            {{ include(card.getContentIncludeTwig(),{'content': card.getContent()} ) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-4 text-right">
            <form action="{{ path('homepage') }}" method="post">
                <button class="btn btn-default btn-block">Ask me later</button>
            </form>
        </div>
        <div class="col-xs-2 text-left">
            <button class="btn btn-warning btn-block">Discard</button>
        </div>
    </div>
{% endblock %}
