{% extends "LaLearnodexBundle::layout.html.twig" %}

{% block html_tag 'ng-app="card"' %}
{% block body_tags 'role="document"  ng-controller="CardController as card"' %}
{% block main %}
    <div class="col-xs-10">
        links here
    </div>
    <div class="col-xs-2">
        {{ include(
            'LaLearnodexBundle:Card:menu.html.twig',
            {'id': learningEntity.id,'action':'link'}
        ) }}
    </div>
{% endblock %}
