{% extends "LaLearnodexBundle::Admin/Main.html.twig" %}

{% block Card %}
    <h1>{{ card.getName() }}</h1>
    <h6><a href="{{ path('card_name', {'id': card.getId()}) }}">change</a></h6>
    {% block card_content %}{% endblock %}
{% endblock %}
