{% extends "LaLearnodexBundle::card.html.twig" %}

{% block card_header_edit %}
    <a class="btn btn-link" href="{{ path('card_name', {'id': card.getId()}) }}"><span class="glyphicon glyphicon-pencil"></span></a>
{% endblock %}

{% block card_body %}
    {% block card_content %}{% endblock %}
{% endblock %}

{% block card_toolbar %}
    <ul class="nav nav-pills nav-stacked" >
        <li class="ln-card-toolbar-btn" ng-class="">
            <a href="{{ path('card_content', {'id':card.getId()}) }}">
                <span class="glyphicon glyphicon-list-alt"></span>
            </a>
        </li>
        <li class="ln-card-toolbar-btn" ng-class="">
            <a href="{{ path('card_outcome', {'id':card.getId()}) }}">
                <span class="glyphicon glyphicon-new-window"></span>
            </a>
        </li>
        <li class="ln-card-toolbar-btn" ng-class="">
            <a href="{{ path('card_link', {'id':card.getId()}) }}">
                <span class="glyphicon glyphicon-random"></span>
            </a>
        </li>
    </ul>
{% endblock %}
