{% extends "LaLearnodexBundle::Admin/admin.html.twig" %}

{% block card %}
    <div class="row">
        {{ form(form) }}
    </div>
    <div class="row">
        {% set className = learningEntity.getContent().getClassName() %}
        {{ include(
        'LaLearnodexBundle:Admin:' ~ className ~ '.html.twig',
        {'content': learningEntity.getContent()}
        ) }}
    </div>
{% endblock %}
