{% extends "LaLearnodexBundle::card.html.twig" %}

{% block card_body %}
    <div class="row">
        {{ form(form) }}
    </div>
    <div class="row">
        {{ include(card.getContentIncludeTwig(),{'content': card.getContent()} ) }}
    </div>
{% endblock %}
