{% extends "LaLearnodexBundle::layout.html.twig" %}

{% block html_tag 'ng-app="card"' %}
{% block body_tags 'role="document"  ng-controller="CardController as card"' %}
{% block main %}
    <div class="col-xs-12">
        <div>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
