{% extends "LaLearnodexBundle::Admin/admin.html.twig" %}

{% block card %}
    <h1>{{ learningEntity.name }}</h1>
    <h6><a href="{{ path('card_name', {'id': learningEntity.id}) }}">edit</a></h6>
    <div>
    {% for content in contentList %}
        use <a href="{{ path('card_content_selected',{'id':learningEntity.id,'type': content.getClassName() }) }}">{{ content.accept(getNameVisitor) }}</a><br />
    {% endfor %}
    </div>
{% endblock %}
