{% set outcomeId = cardOutcome.getOutcome().getId() %}
{% set progress = cardOutcome.getOutcome().getProgress() %}

<h4>
    {{ progress }} %
    <a href="{{ path('set_outcome_progress', {'outcomeId': outcomeId,'progress': 'null'}) }}" class="label label-default">remove</a>
</h4>


