{% extends "LaLearnodexBundle::Admin/Admin.html.twig" %}

{% block card_content %}

    <form class="form-inline" method="post" action="{{ path('card_delete',{'id':card.getId()}) }}">
        <div style="text-align: right">
            <button type="submit" class="btn btn-default {% if card.hasUpOrDownLinks() %}disabled{% endif %}">Delete this card</button>
        </div>
    </form>

    {% for learningEntityType in ['Agora','Objective','Action'] %}

        {% if upLinkManager.canHave(learningEntityType) %}
            {{ include('LaLearnodexBundle::Admin/Links/Include/ManageChildren.html.twig', { 'learningEntityType' : learningEntityType, 'card' : card, 'upLinkManager' : upLinkManager}) }}
        {% endif %}

        {% if upLinkManager.canSuggestTo(learningEntityType) %}
            {{ include('LaLearnodexBundle::Admin/Links/Include/ManageSuggestion.html.twig', { 'learningEntityType' : learningEntityType, 'card' : card, 'upLinkManager' : upLinkManager}) }}
        {% endif %}

    {% endfor %}

{% endblock %}
