{% extends "LaCoreBundle::layout.html.twig" %}


{% block content %}
    {{ entity }} <br />
    Create a new Objective: <br />
    <form action="{{ path('la_core_objective') }}" method="post">
        <input type="text" name="name" value="" placeholder="enter name" /><br />
        <input type="text" name="description" value="" placeholder="enter description" /><br />
        <input type="hidden" name="id" value="0" />
        <input type="hidden" name="type" value="objective" />
        <input type="submit" value="create" />
    </form>
{% endblock %}
