<p>Hello {{ user.username }} !</p>

<p>Thanks for registering.</p>
<p>Click this <a href="{{ confirmationUrl }}">link</a> to activate your account.</p>

<p>Or copy paste this url to your browser: {{ confirmationUrl }}</p>

Greetings,
the SharpSkill team