.ln-card {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    margin: auto;
    width: 90%;
    height: 90%;
    display: flex;
    flex-flow: column nowrap;
}

.ln-card-toolbar-btn {
    font-size: 21px;
    text-align: center;
}

.ln-card-toolbar-btn > a:hover, .ln-card-toolbar-btn > a:focus {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.ln-card-body {
    display: flex;
    flex-flow: column nowrap;
}

.ln-card-body > .row {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    flex-flow: row;
}

#ln-url-display-modal .modal-dialog {
    width: 90%;
    height: 90%;
}