.ln-card {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    margin: auto;
    width: 90%;
    height: 90%;
    display: flex;
    flex-flow: column nowrap;
}

.ln-card-toolbar-btn {
    font-size: 21px;
    text-align: center;
}

.ln-card-toolbar-btn > a:hover, .ln-card-toolbar-btn > a:focus {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.ln-card-body {
    display: flex;
    flex-flow: column nowrap;
}

.ln-card-body > .row {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    flex-flow: row;
}

#ln-url-display-modal > .modal-dialog {
    top: 3%;
    bottom: 3%;
    width: 94%;
    height: 94%;
    margin: auto;
}

#ln-url-display-modal > .modal-dialog > .modal-content {
    height: 100%;
}

#ln-url-display-modal > .modal-dialog > .modal-content > .modal-body {
    height: calc(100% - 56px);
    padding: 0px;
}

#ln-url-display-modal > .modal-dialog > .modal-content > .modal-body > iframe {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}