.full-background {
    background: url('../images/full_bg.jpg') no-repeat fixed center center / cover transparent;
}

html, body, body > div.container-fluid {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: transparent;
}

textarea {
    resize: none;
}

.jumbotron {
    background-color: rgba(238, 238, 238, 0.5);
    border-radius: 8px;
    margin: auto;
    width: 90%;
    max-height: 90%;
}

.ln-gray-highlight img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

.ln-gray-highlight img {
    filter: url("../images/filters.svg#grayscale");
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
}

#viewport-area {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: stretch;
    -webkit-align-items: stretch;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}

@media all and (max-width: 992px), (orientation: portrait) {
    #viewport-area {
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
}

#content-area {
    display: flex;
    display: -webkit-flex;
    align-items: stretch;
    -webkit-align-items: stretch;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

#sidebar {
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
    position: relative;
    background-size: 100% 100%;
}

#sidebar-matches-section {
    padding-left: 20px;
    padding-right: 20px;
}

#sidebar-footer-section {
    position: absolute;
    bottom: 0;
    right: 0px;
    background-color: rgba(0,0,0,0.5);
}

#sidebar-profile-picture {
    max-height: 150px;
}

#sidebar-dna-chart {
    width: 100%;
}

#sidebar-toolbar, #sidebar-toolbar .glyphicon {
    margin-bottom: 0;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: rgba(245, 245, 245, 0.7);
    color: #333;
}

.background--light {
    color: #333;
}

.background--dark {
    color: #DDD;
}

.background--complex {
    color: #428BCA;
}

.scroll-y {
    overflow-y: auto;
}

.ln-card-list {
    max-height: 300px;
    overflow-y: auto;
}