.full-background {
    background: url('../images/full_bg.jpg') no-repeat fixed center center / cover transparent;
}

html, body, body > div.container-fluid {
    height: 100%;
}

body {
    background-color: transparent;
}

.jumbotron {
    background-color: rgba(238, 238, 238, 0.5);
    border-radius: 8px;
}

.ln-viewport-full {
    height: 100%;
}

.ln-valign-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#sidebar {
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    padding: 20px;
    position: relative;
}

#sidebar-profile-picture {
    max-height: 150px;
    max-width: 150px;
}

#sidebar-matches-section {
    padding-left: 20px;
    padding-right: 20px;
}

#sidebar-footer-section {
    position: absolute;
    bottom: 0;
    padding: 20px;
}

#sidebar-dna-chart {
    width: 100%;
}

